body {
	text-align: justify;
	font-family: "Permanent Marker", cursive;
	margin: 30px 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: "Permanent Marker", cursive;
}

a {
	color: rgb(37, 37, 37);
}

a:hover {
	color: white;
	background-color: black;
}
