body {
	text-align: justify;
	font-family: "Permanent Marker", cursive;
	margin: 30px 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: "Permanent Marker", cursive;
}

a {
	color: white;
	background-color: rgb(0, 0, 121);
	text-shadow: 0px 40px 20px rgb(0 104 206 / 99%);
}

a:hover {
	color: white;
	background-color: black;
}

p {
	padding: 10px 30px;
}
